.nav-links-container {
    display: flex;
    list-style-type: none;
    column-gap: 1em;
    background-color: darkcyan;
    padding-left: 0;
}
.nav-link {
    display: inline-block;
    background-color: darkgrey;
    color: black;
    font-size: 1.5em;
}
.nav-link:hover {
    background-color: black;
    color: darkgrey;
    cursor: pointer;
}